.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 37rem;
    width: 75rem;
    flex-grow: 2;
    color: #313131;
    font-size: 1rem;
    font-weight: 200;
}

.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    color: #313131;
    font-weight: 700;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 0.2rem;
    padding: 0.3rem;
    color: #313131;
    font-weight: 700;
}

.content button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 0.5rem;
    width: 5rem;
    margin: 2rem;
    padding: 1rem;
    color: #f5f5f5;
    font-weight: 700;
    background-color: #ff6666;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 4rem;
}

.dateInput{
  max-width: 70px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.input {
  max-width: 40rem;
  margin-right: 1rem;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}

.content p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 0;
    font-size: 1rem;
    font-weight: 700;
}

.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    height: 3rem;
    flex-grow: 2;
    width: 70rem;
    margin: 2rem;
    padding: 1rem;
    color: #313131;
    font-weight: 700;
}

.form{
  /* write css for modal type, int he center iwht backgorund blur */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.List{
  display: flex;
  width: 50%;
}

.options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.options h3{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #ff6565;
  border: 3px solid #ff6565;
  border-radius: 10rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}

.options h3:hover{
  transition: all 0.3s ease-in-out;
  background-color: #6eff73;
  border: 3px solid #6eff73;
  color: #7e7e7e;
  cursor: pointer;
}